<div class="wrapper">
    <h1>Ask Butler Carson</h1>
    <div class="box">
        <p>You've asked:</p>
        <%= @ask  %>
    </div>
    <div class="reply">
        <p style="font-style: underline;">Butler Carson replied:</p>
        <div><%= image_tag "carsondisapproval.gif" %></div>
        <h2 style="font-size: 28px;"><%= @answer %></h2>
    </div>
<%= link_to("Ask Carson another one", ask_path), {:style => 'color: $black'}%>
</div>
