<div class="wrapper">
    <h1>Ask Butler Carson</h1>

    <p>You've asked:</p>
    <%= @ask  %>

    <p>Butler Carson replied:</p>
    <%= @answer %>

</div>

<%= link_to("Ask Carson another one", ask_path) %>