<div class="wrapper" style="padding: 330px">
    <h2>Welcome to <i>Disapproving Carson</i></h2>
    <p>An immersive experience at Downton Abbey.</p>
    <div class="button" style="width: 120px; color: $black;">
        <%= link_to "Start here", ask_path %>
    </div>
</div>