.wrapper{
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 90vh;
    .avatar img{
        height: 320px;
        border-radius: 6px;
        box-shadow: 0 0 15px rgba(0,0,0,0.2);
    }
}
