.wrapper{
    max-width: 1300px;
    margin: auto 30px;
    display: block;
    text-align: center;
    height: 100vh;
    .avatar img{
        height: 320px;
        border-radius: 6px;
        box-shadow: 0 0 15px rgba(0,0,0,0.2);
    }
}

@media (min-width: 100px) and (max-width: 767px){
    .wrapper{
        height: 100vh;
    }
}