<!DOCTYPE html>
<html>
  <head>
    <title>Ask Butler Carson</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>Ask Downton Abbey's Butler Charles Carson</h1>
    <%= yield %>
    <p> Designed and coded by Krista Calleja. </p>
  </body>
</html>
